@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mb-5">
    <h1 class="display-4">App Insights Test</h1>
</div>

<div class="col-8 mx-auto">
    <div class="row justify-content-center align-items-center">
        <div class="col-auto">
            <label for="url">API URL:</label>
        </div>
        <div class="col">
            <input type="text" id="url" class="form-control" />
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary" onclick="callApi()">Call API</button>
        </div>
    </div>
    <br />
    <br />
    <pre id="statusBox" style="text-align: left;"></pre>
    <pre id="resultBox" style="text-align: left;"></pre>
</div>
